<button (click)="clicks.next()">Drop</button>
<a-scene>
  <a-entity environment></a-entity>
  <a-entity light="type:ambient; color:#bbb"></a-entity>
  <a-entity id="shadow_light" light="type:directional; color:#333; intensity:1; castShadow:true; target:#shadow_target" position="1.5 4 4">
    <a-entity id="shadow_target" position="0 -4 0"></a-entity>
  </a-entity>

  <a-box *ngFor="let line of lines; let i = index" depth="20" height="0.1" width="0.2" [attr.color]="line" [attr.position]="getPosition(i)"></a-box>

  <a-entity *ngFor="let sphere of spheres" position="0 0 -20">
    <a-sphere [attr.position]="sphere.position" [attr.color]="sphere.color" radius="0.5" [attr.sphere-shader]="'color: ' + sphere.color">
      <a-entity [attr.text-geometry]="'value: ' + sphere.fret" position="0 0.5 0" material="emissive: white"></a-entity>
    </a-sphere>
    <a-animation attribute="position" dur="2500" to="0 0 0"
      easing="linear"></a-animation>
    <a-animation attribute="position" dur="3000"
      from="0 0 0" to="0 999 0"
      begin="2500" (animationend)="removeSphere(sphere)"></a-animation>
  </a-entity>

  <a-camera id="cam" position="1.5 0 4" rotation="0 0 0">
    <a-entity id="spec_1" light="type:directional; color:#ffc; intensity:0.3; target:#spec_1_target" position="2 2 0">
      <a-entity id="spec_1_target" position="-2 -2 0"></a-entity>
    </a-entity>
    <a-entity id="spec_2" light="type:directional; color:#cff; intensity:0.3; target:#spec_2_target" position="-2 2 0">
      <a-entity id="spec_2_target" position="2 -2 0"></a-entity>
    </a-entity>
  </a-camera>
</a-scene>
